.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & h2 {
    font-weight: 700;
    font-size: var(---basic-h2-size);
    color: var(--main-dark-clr);
    max-width: min-content;
    margin-bottom: 2.5rem;
  }
}
