.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 6rem;

  @media (width > 720px) {
    flex-direction: row;

    & > * {
      flex: 1;
    }
  }
}

video {
  width: 400px;

  @media (width > 720px) {
    order: 2;
  }
}

.textWrapper {
  position: sticky;
  top: 70px;

  & p {
    margin-block: 2rem;
    color: var(--main-dark-clr);
  }

  & span {
    font-weight: 900;
  }
}

.header {
  font-size: clamp(3rem, 7vw, 6.25vw);
  font-weight: 900;
  letter-spacing: -0.05em;
  line-height: 0.9;
  color: var(--main-dark-clr);
}
