.footer {
  background-color: var(--main-dark-clr);
  padding: 4rem 2rem 0 2rem;
}

.information,
.information a {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--white-clr);
  margin-block: 3rem 6rem;
  max-width: 50ch;
  word-break: break-word;
}

.subheader {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--white-clr);
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.28px;
  margin-bottom: 1.8rem;
}

.subheader::before {
  content: '';
  display: inline-block;
  height: 10px;
  aspect-ratio: 1;
  background-color: var(--white-clr);
  border-radius: 50%;
}

.inputWrapper {
  position: relative;
}

.inputWrapper label {
  position: absolute;
  left: -10000px;
  visibility: hidden;
}

.inputWrapper input,
.inputWrapper input::placeholder {
  font-size: 0.9rem;
  color: var(--white-clr);
}

.inputWrapper input {
  background-color: transparent;
  border: none;
  width: 100%;
  border-bottom: 1px solid var(--white-clr);
  padding-bottom: 1.2rem;
}

.inputWrapper p {
  color: var(--white-clr);
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 1rem;
  font-size: 0.65rem;
}

.websiteTerms {
  --_background-clr: hsl(60, 2%, 10%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
  padding: 1.3rem 2rem;
  background-color: var(--_background-clr);
  color: hsl(0, 0%, 37%);
  text-align: center;
  font-size: 0.75rem;
  font-weight: 700;
  margin-top: 4rem;
  box-shadow: 0 0 0 100vmax var(--_background-clr);
  clip-path: inset(0 -100vmax);
}
