.header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--white-clr);
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.28px;
  margin-block: 3rem 1.8rem;

  &::before {
    content: '';
    display: inline-block;
    height: 10px;
    aspect-ratio: 1;
    background-color: var(--white-clr);
    border-radius: 50%;
  }

  @media (width >= 1280px) {
    font-size: 1.1rem;
    margin-block: 0 1.5rem;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.links {
  font-size: 0.9rem;
  color: var(--white-clr);

  @media (width >= 1280px) {
    font-size: 1rem;
  }
}
