.footer {
  --_max-content-width: 1200px;
  background-color: var(--main-dark-clr);
  padding: 4rem 2rem 0 2rem;
}

.header,
.header a {
  font-size: clamp(1.3rem, 2.4vw, 2rem);
  font-weight: 700;
  color: var(--white-clr);
  margin-block: 3rem 6rem;
  max-width: 50ch;
  word-break: break-word;
}

.subheader {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--white-clr);
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.28px;
  margin-bottom: 1.8rem;

  &::before {
    content: '';
    display: inline-block;
    height: 10px;
    aspect-ratio: 1;
    background-color: var(--white-clr);
    border-radius: 50%;
  }
}

.inputWrapper {
  position: relative;

  & label {
    position: absolute;
    left: -10000px;
    visibility: hidden;
  }

  & input,
  & input::placeholder {
    font-size: 0.9rem;
    color: var(--white-clr);
  }

  & input {
    background-color: transparent;
    border: none;
    width: 100%;
    border-bottom: 1px solid var(--white-clr);
    padding-bottom: 1.2rem;
  }

  & p {
    color: var(--white-clr);
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 1rem;
    font-size: 0.65rem;
  }
}

.submitBtn {
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  border: none;
}

.websiteTerms {
  --_background-clr: hsl(60, 2%, 10%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
  padding: 1.3rem 2rem;
  background-color: var(--_background-clr);
  color: hsl(0, 0%, 37%);
  text-align: center;
  font-size: 0.75rem;
  font-weight: 700;
  margin-top: 4rem;
  box-shadow: 0 0 0 100vmax var(--_background-clr);
  clip-path: inset(0 -100vmax);
}

@media (width >= 1280px) {
  .footer {
    padding: 6rem 5rem 0 5rem;
  }

  .footerInnerWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem 7rem;
    margin: 0 auto;
    max-width: var(--_max-content-width);
  }

  .header,
  .header a {
    max-width: 25ch;
    margin: 0;
  }

  .subheader {
    font-size: 1.1rem;
    margin-block: 0 1.5rem;
  }

  .inputWrapper input,
  .inputWrapper input::placeholder {
    font-size: 1.1rem;
  }

  .navWrapper {
    display: flex;
    justify-content: space-between;
  }

  .websiteTerms {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 6rem auto 0 auto;
    padding-inline: 0;
    max-width: var(--_max-content-width);
  }
}
