.follower {
  --y: 0px;
  --x: 0px;
  position: absolute;
  top: var(--y);
  left: var(--x);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 120px;
  aspect-ratio: 1;
  background-color: var(--white-clr);
  border-radius: 50%;
  pointer-events: none;
  z-index: 2;

  & .inner_text {
    width: 50%;
    font-size: 0.85rem;
    text-transform: uppercase;
    font-weight: 900;
  }

  & .subtext {
    position: absolute;
    bottom: -40px;
    font-size: 0.85rem;
    font-weight: 900;
    color: var(--white-clr);
  }
}
