article {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  padding-top: 1rem;
  margin-bottom: 1rem;
  border-top: 1px solid var(--main-dark-clr);
  transition: border-color var(--colors-transition);

  @media (width > 720px) {
    flex-direction: row;
  }
}

article:hover .textPanel h4 {
  text-decoration: underline;
}

article:hover img {
  transform: scale(1);
}

a {
  text-decoration: none;
  color: inherit;
}

.imgWrapper {
  overflow: hidden;
}

img {
  aspect-ratio: 3 / 2;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  height: 100%;

  @media (width > 720px) {
    width: clamp(17rem, 33vw, 40rem);
  }
}

.textPanel {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;

  & h4 {
    grid-area: 1 / 1 / 2 / 3;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
    color: var(--main-dark-clr);
  }

  & .arrowWrapper {
    grid-area: 2 / 2 / 3 / 3;
  }

  & p {
    font-size: 11px;
    font-weight: 700;
    color: var(--main-dark-clr);
  }

  @media (width > 720px) {
    width: 100%;
    column-gap: 4rem;

    & h4 {
      max-width: 650px;
      font-size: clamp(0.2rem, 2vw, 2.5rem);
      margin-bottom: 0;
    }

    & .arrowWrapper {
      grid-row: 1/2;
    }
  }
}
