@font-face {
  font-family: SctoGroteskA;
  src: url('./assets/font/SctoGroteskA.ttf');
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:is(body, h1, h2, h3, h4, h5, h6, p, ol, ul) {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --base-background-clr: hsl(47, 70%, 96%);
  --main-dark-clr: hsl(40, 4%, 14%);
  --white-clr: hsl(0, 0%, 100%);
}

body {
  font-family: SctoGroteskA;
  background-color: var(--base-background-clr);
}
