@font-face {
  font-family: SctoGroteskA;
  src: url('./assets/font/SctoGroteskA.ttf');
}

:root {
  --page-inline-padding-mobile: 27px;
  ---basic-h2-size: 1.6rem;
  --base-background-clr: hsl(47, 70%, 96%);
  --main-dark-clr: hsl(40, 4%, 14%);
  --white-clr: hsl(0, 0%, 100%);

  @media (width >= 1280px) {
    --page-inline-padding-mobile: 80px;
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*:focus-visible {
  outline: 2px solid hsl(204, 91%, 42%);
  outline-offset: 2px;
  border-radius: 3px;
}

:where(body, h1, h2, h3, h4, h5, h6, p, ol, ul) {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

:where(ol, ul) {
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: SctoGroteskA;
  background-color: var(--base-background-clr);
}
